html, body{
    font-family: "Atma", system-ui;
    text-align: center;
    padding: 15px;
    background-color: #858585;
}

button, input {
    font-family: "Atma", system-ui;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0px;
    cursor: pointer;
}

button:hover {
    filter: brightness(85%);
}


/* Peli asetukset ikkuna */
#start_menu {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 50px;

    background-color: #F1BAA1;
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border-radius: 25px;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    width: 200px;
    margin: auto;
}
.row input{
    font-size: 20px;
}
.row p {
    font-size: 19px;
}
#start_button {
    background-color: #BD613C;
    width: 200px;
    font-size: 40px;
    border-radius: 15px;
    margin-top: 25px;
}


/* Nimien syöttö ikkuna */
#player_name_input {
    background-color: #F1BAA1;
    width: 300px;
    padding: 50px;
    padding-top: 20px;
    margin: 30px auto;
    border-radius: 15px;
}
#player_number {
    font-size: 30px;
}
#player_name {
    font-size: 25px;
    margin-bottom: 20px;
}
#add_player {
    background-color: #BD613C;
    width: 150px;
    font-size: 40px;
    border-radius: 15px;
    margin-top: 20px;
}


/* peli ikkuna */
#game_window {
    background-color: #BD613C;
    border-radius: 15px;
    position: relative;
    margin: 10px 50px;
    height: 700px;
}
#game_window h2{
    margin: 0;
}
.inside {
    background-color: #F1BAA1;
    margin: 15px;
    margin-bottom: 45px;
    border-radius: 15px;
    height: 500px;
    position: relative;
}
.person {
    background-color: #BD613C;
    width: 200px;
    padding: 25px 10px;
    border-radius: 15px;

    position: absolute;
    top: 10px;
    left: 10px;
}
.game_buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}
#dice_animation {
    position: absolute;
    top:50px;
    left: 50%;
    transform: translateX(-50%);
}
.dices {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#stop_btn {
    background-color: #AA1803;
    border-radius: 15px;
    width: 200px;
    font-size: 40px;
    margin-right: 10px;
}

#throw_btn {
    background-color: #6D8C00;
    border-radius: 15px;
    width: 200px;
    font-size: 40px;
    margin-left: 10px;
}


/* pelisääntö ikkuna */
#instructions_window {
    background-color:#F1BAA1;
    width: 600px;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
}
#go_back {
    background-color:#BD613C;
    width: 200px;
    font-size: 30px;
    border-radius: 15px;
    margin-top: 20px;
}


/* voittaja ikkuna */
#winner_window {
    background-color: #F1BAA1;
    width: 400px;
    padding-bottom: 20px;
    border-radius: 15px;
}
#winner_window p{
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
}
#winner {
    font-size: 50px;
    margin: 0;
}
